h1 {
    color: fuchsia;
    font-weight: bold
}

img {
    border: 2px solid darkblue
}

.bio {
    color: yellowgreen;
    text-decoration: underline
}

.members {
    color: navy;
    text-decoration: underline
}

.live {
    color: red;
    text-decoration: underline
}

iframe {
    border: 8px solid red
}

body {
    background-color: blanchedalmond
}